* {
    display: block;
}

animeList
{
background-color: #ffffff;
width: 100%;
background-image: url("../assets/img/background.jpg");
}
anime
{
display: block;
margin-bottom: 30pt;
margin-left: 0;

}

name
{
    font-weight: bold;
    font-size: 20px;
}

images
{
    font-style:oblique;
    color: blue;
}

episode
{
    font-style:oblique;
    color: blue;
}
price_list
{
color: #FF0000;
font-size: 20pt;
}